*.pyc

python/.ipynb_checkpoints/denoisingwav_2_wavelet_2d-checkpoint.ipynb

python/.ipynb_checkpoints/inverse_2_deconvolution_variational-checkpoint.ipynb

python/TODO-segmentation_2_snakes_param.m

python/.ipynb_checkpoints/segmentation_2_snakes_param-checkpoint.ipynb
