
  <!-- primary content end -->
</div>

<!-- 
<div id="secondarycontent">
</div>
-->

<div id="footer">
  Design by <a href="http://www.ceremade.dauphine.fr/~peyre/">Gabriel Peyr&eacute;</a>.   
</div>
</div>

</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-781488-9");
pageTracker._trackPageview();
} catch(err) {}</script>
