<div id="outer">

  <div id="upbg"></div>

  <div id="inner">

    <div id="header">
      <h1>A Numerical Tour of Signal Processing</h1><br/>     
    </div>
  
    <div id="splash"></div>
  
    <div id="menu">
      <ul>
        <li class="first"><a href="/">Home</a></li>
        <li><a href="tours/">Matlab Tours</a></li>
        <li><a href="http://nbviewer.ipython.org/github/gpeyre/numerical-tours/tree/master/python/">Python Tours</a></li>
        <li><a href="book/">Book</a></li>
        <li><a href="slides/">Slides</a></li>
        <li><a href="links/">Links</a></li>
        <li><a href="contact/">Contact</a></li>
      </ul> 
    </div>

    
